/* link styles*/
a,
div,
li {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a,
div,
li:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

//表單格式 start
//==========================

//表單直式
#CLA-form .formfield {
  float: none;
  width: 100%;
  margin: 0;
}

.eventpage_oto_wrapper .event_oto .event_content {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.eventpage_oto_wrapper .event_oto .event_content .formfields_box {
  width: 100%;
  margin: 0;
  //   padding: 0 15%;
}

//表單名稱隱藏
.eventpage_oto_wrapper .event_oto .event_content .formfields_box .f_label {
  display: none;
}

//同意文字資料欄
.eventpage_oto_wrapper .event_oto .event_content .formfields_box .answer7 {
  text-align: start;
  display: flex; //checkbox跟文字排在一起
  padding-top: 16px;
  .checkbox {
    display: block;
    height: 23px;
    width: 23px;
    // background-color: #ffffff;
    position: relative; //checkbox顯示
    margin-right: 7px;
  }
  .f_label {
    display: block;
    color: #000000;
    font-size: 15px;
    position: relative; //星星顯示
    padding-left: 8px;
    a {
      color: #6fb9ef;
    }
    &::after {
      color: #e40000;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

//表單輸入框格式
.eventpage_oto_wrapper
  .event_oto
  .event_content
  .formfields_box
  .f_field_textinput
  input {
  font-size: 16px;
  padding: 3px 10px;
  width: 100%;
  max-width: 100%;
  height: 56px;
  color: #92629d;
  margin-bottom: 20px;
}

//消除地址欄位下的margin
.eventpage_oto_wrapper .event_oto .formfield_address1.input-group {
  margin-bottom: 0;
}

/* //表單placeholder */
#otoo-event-form .f_field::-webkit-input-placeholder {
  color: #92629d;
  font-size: 18px;
  font-weight: 600;
  opacity: 1;
}
#otoo-event-form .f_field:-ms-input-placeholder {
  color: #92629d;
  font-size: 18px;
  font-weight: 600;
  opacity: 1;
}
#otoo-event-form .f_field input::-moz-placeholder {
  color: #92629d;
  font-size: 18px;
  font-weight: 600;
  opacity: 1;
}
#otoo-event-form .f_field:-moz-placeholder {
  color: #92629d;
  font-size: 18px;
  font-weight: 600;
  opacity: 1;
}

#otoo-event-form .f_field input::placeholder {
  color: #92629d;
  font-size: 18px;
  font-weight: 600;
  opacity: 1;
}

//表單錯誤margin修改
#otoo-event-form .required.error {
  margin-bottom: 15px;
}

#otoo-event-form .error {
  margin-bottom: 30px;
}

//表單格式 end
//==========================

//立即體驗btn START
//==========================
.eventpage_oto_wrapper .event_oto .event_content .button_box {
  padding: 0;
  button {
    // width: 200px;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: normal;
    padding: 12px 40px;
    margin: 10px auto;
    background-color: #000;
    box-shadow: 0 0 10px #fff;
    // // height: 40px;
    // width: 200px;
    // display: inline-block;
    // text-align: center;
    // border: 1px solid #000;
    // color: #fff;
    // font-size: 18px;
    // letter-spacing: 0.1em;
    // font-weight: normal;
    // padding: 12px 40px;
    // background-color: #000;
    // box-shadow: 0 0 10px #fff;
    // -webkit-box-shadow: 0 0 10px #fff;
    // margin-bottom: 20px;
  }
  #CLA-form .formfield.formfield_button {
    margin: 0 auto;
    width: 200px;
    float: none; //消除完本float left
  }
}

.eventpage_oto_wrapper .event_oto .event_content .button_box button:focus,
.eventpage_oto_wrapper .event_oto .event_content .button_box button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

.eventpage_oto_wrapper
  .event_oto
  .event_content
  .button_box
  .formfield.formfield_button:hover {
  transform: scale(0.9);
  -ms-transform: scale(0.9); /* IE 9 */
  -moz-transform: scale(0.9); /* Firefox */
  -webkit-transform: scale(0.9); /* Safari 和 Chrome */
  -o-transform: scale(0.9); /* Opera */
}

//立即體驗btn END
//==========================

//送出資料popup & 錯誤popup START
//==========================
.eventpage_oto_wrapper .event_oto .event_content .response_box.active {
  position: fixed;
  background: rgba(51, 51, 51, 0.4);
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  span {
    font-size: 15px;
    background: #fff;
    color: #000;
    width: 90%;
    // height: 65%;
    // padding: 15% 0;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    // top: 40%;
    top: 5%;
    left: 50%;
    margin-left: -45%;
    text-indent: initial;
    text-align: center;
    line-height: 1em;
    // padding-top: 15%;
    padding: 100px 0;

    // thank you page 調整
    .CLA-thanks-wrap {
      position: relative;
      width: 100%;
      a {
        position: absolute;
        display: block;
        width: 50%;
        height: 100%;
        top: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        &:nth-of-type(1) {
          left: 0;
        }
        &:nth-of-type(2) {
          right: 0;
        }
      }
    }
  }
  .close_lightbox {
    background: url(../images/lightbox_close.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    // top: 41%;
    top: 9%;
    left: 88%;
    cursor: pointer;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .eventpage_oto_wrapper .event_oto .event_content .response_box.active {
    span {
      width: 50%;
      // height: 250px;
      // top: 30%;
      margin-left: -25%;
    }
    .close_lightbox {
      // top: 31%;
      left: auto;
      right: 50%;
      margin-right: -24%;
    }
  }
}

@media (min-width: 768px) {
  .eventpage_oto_wrapper .event_oto .event_content .response_box.active {
    span {
      width: 84%;
      // height: 950px;
      padding: 100px 0;
      // padding-top: 120px;
      margin-left: -42%;
    }
    // .close_lightbox {
    //   top: 12%;
    // }
  }
}

//送出資料popup & 錯誤popup END
//==========================

@media (max-width: 414px) {
  #CLA-form .f_field input::placeholder {
    color: #92629d;
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
  }
}
@media (max-width: 360px) {
  .eventpage_oto_wrapper .event_oto .event_content .button_box button {
    padding: 12px 39px;
  }
}
